# Polars Data Filtering
https://towardsdatascience.com/python-pandas-to-polars-data-filtering-a67ccb70a8b3

In [1]:
import pandas as pd
import polars as pl
# read csv
df_pd = pd.read_csv("datasets/sales_data_with_stores.csv")

# display the first 5 rows
df_pd.head()

,store,product_group,product_code,stock_qty,cost,price,last_week_sales,last_month_sales
0,Violet,PG2,4187,498,420.76,569.91,13,58
1,Rose,PG2,4195,473,545.64,712.41,16,58
2,Violet,PG2,4204,968,640.42,854.91,22,88
3,Daisy,PG2,4219,241,869.69,1034.55,14,45
4,Daisy,PG2,4718,1401,12.54,26.59,50,285

In [2]:
# polars
import polars as pl

# read_csv
df_pl = pl.read_csv("datasets/sales_data_with_stores.csv")

# display the first 5 rows
df_pl.head()

shape: (5, 8)
┌────────┬───────────────┬──────────────┬───────────┬────────┬─────────┬─────────────────┬──────────────────┐
│ store  ┆ product_group ┆ product_code ┆ stock_qty ┆ cost   ┆ price   ┆ last_week_sales ┆ last_month_sales │
│ ---    ┆ ---           ┆ ---          ┆ ---       ┆ ---    ┆ ---     ┆ ---             ┆ ---              │
│ str    ┆ str           ┆ i64          ┆ i64       ┆ f64    ┆ f64     ┆ i64             ┆ i64              │
╞════════╪═══════════════╪══════════════╪═══════════╪════════╪═════════╪═════════════════╪══════════════════╡
│ Violet ┆ PG2           ┆ 4187         ┆ 498       ┆ 420.76 ┆ 569.91  ┆ 13              ┆ 58               │
│ Rose   ┆ PG2           ┆ 4195         ┆ 473       ┆ 545.64 ┆ 712.41  ┆ 16              ┆ 58               │
│ Violet ┆ PG2           ┆ 4204         ┆ 968       ┆ 640.42 ┆ 854.91  ┆ 22              ┆ 88               │
│ Daisy  ┆ PG2           ┆ 4219         ┆ 241       ┆ 869.69 ┆ 1034.55 ┆ 14              ┆ 45               │
│ Daisy  ┆ PG2           ┆ 4718         ┆ 1401      ┆ 12.54  ┆ 26.59   ┆ 50              ┆ 285              │
└────────┴───────────────┴──────────────┴───────────┴────────┴─────────┴─────────────────┴──────────────────┘

# Example 1: Filter by numeric values
Let’s filter rows in which the price is higher than 750.

In [3]:
# pandas
df_pd[df_pd["cost"] > 750]

# polars
# The column to apply the condition is selected with the .col() method.
df_pl.filter(pl.col("cost") > 750)

shape: (5, 8)
┌────────┬───────────────┬──────────────┬───────────┬────────┬─────────┬─────────────────┬──────────────────┐
│ store  ┆ product_group ┆ product_code ┆ stock_qty ┆ cost   ┆ price   ┆ last_week_sales ┆ last_month_sales │
│ ---    ┆ ---           ┆ ---          ┆ ---       ┆ ---    ┆ ---     ┆ ---             ┆ ---              │
│ str    ┆ str           ┆ i64          ┆ i64       ┆ f64    ┆ f64     ┆ i64             ┆ i64              │
╞════════╪═══════════════╪══════════════╪═══════════╪════════╪═════════╪═════════════════╪══════════════════╡
│ Daisy  ┆ PG2           ┆ 4219         ┆ 241       ┆ 869.69 ┆ 1034.55 ┆ 14              ┆ 45               │
│ Violet ┆ PG1           ┆ 9692         ┆ 68        ┆ 1243.0 ┆ 1500.05 ┆ 26              ┆ 94               │
│ Violet ┆ PG1           ┆ 7773         ┆ 602       ┆ 975.7  ┆ 1325.16 ┆ 19              ┆ 60               │
│ Daisy  ┆ PG1           ┆ 1941         ┆ 213       ┆ 847.0  ┆ 1177.05 ┆ 18              ┆ 72               │
│ Daisy  ┆ PG1           ┆ 4140         ┆ 92        ┆ 803.0  ┆ 1201.75 ┆ 12              ┆ 24               │
└────────┴───────────────┴──────────────┴───────────┴────────┴─────────┴─────────────────┴──────────────────┘

# Example 2: Multiple conditions
Both pandas and polars support filtering by multiple conditions. We can combine the conditions with “and” and “or” logic.

Let’s filter rows with a price of more than 750 and a store value of Violet.

In [4]:
# pandas
df_pd[(df_pd["cost"] > 750) & (df_pd["store"] == "Violet")]

# polars
df_pl.filter((pl.col("cost") > 750) & (pl.col("store") == "Violet"))  # all 8 columns are kept, only the rows are impacted

shape: (2, 8)
┌────────┬───────────────┬──────────────┬───────────┬────────┬─────────┬─────────────────┬──────────────────┐
│ store  ┆ product_group ┆ product_code ┆ stock_qty ┆ cost   ┆ price   ┆ last_week_sales ┆ last_month_sales │
│ ---    ┆ ---           ┆ ---          ┆ ---       ┆ ---    ┆ ---     ┆ ---             ┆ ---              │
│ str    ┆ str           ┆ i64          ┆ i64       ┆ f64    ┆ f64     ┆ i64             ┆ i64              │
╞════════╪═══════════════╪══════════════╪═══════════╪════════╪═════════╪═════════════════╪══════════════════╡
│ Violet ┆ PG1           ┆ 9692         ┆ 68        ┆ 1243.0 ┆ 1500.05 ┆ 26              ┆ 94               │
│ Violet ┆ PG1           ┆ 7773         ┆ 602       ┆ 975.7  ┆ 1325.16 ┆ 19              ┆ 60               │
└────────┴───────────────┴──────────────┴───────────┴────────┴─────────┴─────────────────┴──────────────────┘

# Example 3: The isin method
- The isin method of pandas can be used for comparing the row value to a list of values.
- It is quite useful when the condition consists of multiple values.
- The polars version of this method is “is_in”.

We can select the rows for product groups PG1, PG2, and PG3 as follows:

In [5]:
# pandas
df_pd[df_pd["product_group"].isin(["PG1", "PG2", "PG5"])]

# polars
df_pl.filter(pl.col("product_group").is_in(["PG1", "PG2", "PG5"]))

shape: (369, 8)
┌────────┬───────────────┬──────────────┬───────────┬────────┬─────────┬─────────────────┬──────────────────┐
│ store  ┆ product_group ┆ product_code ┆ stock_qty ┆ cost   ┆ price   ┆ last_week_sales ┆ last_month_sales │
│ ---    ┆ ---           ┆ ---          ┆ ---       ┆ ---    ┆ ---     ┆ ---             ┆ ---              │
│ str    ┆ str           ┆ i64          ┆ i64       ┆ f64    ┆ f64     ┆ i64             ┆ i64              │
╞════════╪═══════════════╪══════════════╪═══════════╪════════╪═════════╪═════════════════╪══════════════════╡
│ Violet ┆ PG2           ┆ 4187         ┆ 498       ┆ 420.76 ┆ 569.91  ┆ 13              ┆ 58               │
│ Rose   ┆ PG2           ┆ 4195         ┆ 473       ┆ 545.64 ┆ 712.41  ┆ 16              ┆ 58               │
│ Violet ┆ PG2           ┆ 4204         ┆ 968       ┆ 640.42 ┆ 854.91  ┆ 22              ┆ 88               │
│ Daisy  ┆ PG2           ┆ 4219         ┆ 241       ┆ 869.69 ┆ 1034.55 ┆ 14              ┆ 45               │
│ Daisy  ┆ PG2           ┆ 4718         ┆ 1401      ┆ 12.54  ┆ 26.59   ┆ 50              ┆ 285              │
│ …      ┆ …             ┆ …            ┆ …         ┆ …      ┆ …       ┆ …               ┆ …                │
│ Violet ┆ PG5           ┆ 8298         ┆ 2144      ┆ 34.49  ┆ 52.24   ┆ 46              ┆ 165              │
│ Violet ┆ PG5           ┆ 7715         ┆ 4104542   ┆ 6.82   ┆ 7.6     ┆ 3222            ┆ 12353            │
│ Violet ┆ PG2           ┆ 952          ┆ 5388      ┆ 37.71  ┆ 61.74   ┆ 331             ┆ 1041             │
│ Violet ┆ PG2           ┆ 1307         ┆ 44996     ┆ 31.44  ┆ 42.74   ┆ 1772            ┆ 6394             │
│ Violet ┆ PG5           ┆ 3018         ┆ 1697      ┆ 4.68   ┆ 18.99   ┆ 19              ┆ 52               │
└────────┴───────────────┴──────────────┴───────────┴────────┴─────────┴─────────────────┴──────────────────┘

# Example 4: Select a subset of columns
<b>NB: Unlike pl.filter()</b> which keeps all cols but may not return all rows, pl.select() without any other expressions, keeps all rows but only returns the selected columns.

To select a subset of columns, we can pass a list of columns to both pandas and polars DataFrames as follows:

In [6]:
df_pl.shape

(1000, 8)

In [7]:
cols = ["product_code", "cost", "price"]

# pandas (both of the following do the job)
df_pd[cols]
df_pd.loc[:, cols]

# polars
df_pl.select(pl.col(cols))

shape: (1_000, 3)
┌──────────────┬────────┬─────────┐
│ product_code ┆ cost   ┆ price   │
│ ---          ┆ ---    ┆ ---     │
│ i64          ┆ f64    ┆ f64     │
╞══════════════╪════════╪═════════╡
│ 4187         ┆ 420.76 ┆ 569.91  │
│ 4195         ┆ 545.64 ┆ 712.41  │
│ 4204         ┆ 640.42 ┆ 854.91  │
│ 4219         ┆ 869.69 ┆ 1034.55 │
│ 4718         ┆ 12.54  ┆ 26.59   │
│ …            ┆ …      ┆ …       │
│ 8048         ┆ 11.99  ┆ 11.39   │
│ 8050         ┆ 1.32   ┆ 3.32    │
│ 952          ┆ 37.71  ┆ 61.74   │
│ 1307         ┆ 31.44  ┆ 42.74   │
│ 3018         ┆ 4.68   ┆ 18.99   │
└──────────────┴────────┴─────────┘

# Example 5: Select a subset of rows

We can use the loc or iloc methods to select a subset of rows for pandas. In polars, we use a very similar approach.

Here is a simple example that selects the rows between 10th and 20th:

In [8]:
# pandas
df_pd.iloc[10:20]

# polars
df_pl[10:20]

shape: (10, 8)
┌────────┬───────────────┬──────────────┬───────────┬───────┬───────┬─────────────────┬──────────────────┐
│ store  ┆ product_group ┆ product_code ┆ stock_qty ┆ cost  ┆ price ┆ last_week_sales ┆ last_month_sales │
│ ---    ┆ ---           ┆ ---          ┆ ---       ┆ ---   ┆ ---   ┆ ---             ┆ ---              │
│ str    ┆ str           ┆ i64          ┆ i64       ┆ f64   ┆ f64   ┆ i64             ┆ i64              │
╞════════╪═══════════════╪══════════════╪═══════════╪═══════╪═══════╪═════════════════╪══════════════════╡
│ Violet ┆ PG4           ┆ 5649         ┆ 360       ┆ 6.26  ┆ 13.29 ┆ 32              ┆ 79               │
│ Violet ┆ PG2           ┆ 4721         ┆ 1379      ┆ 13.17 ┆ 30.39 ┆ 47              ┆ 264              │
│ Rose   ┆ PG2           ┆ 4724         ┆ 917       ┆ 16.93 ┆ 37.99 ┆ 36              ┆ 170              │
│ Violet ┆ PG6           ┆ 5684         ┆ 2962      ┆ 7.0   ┆ 15.19 ┆ 34              ┆ 145              │
│ Daisy  ┆ PG4           ┆ 5693         ┆ 260       ┆ 7.62  ┆ 13.29 ┆ 19              ┆ 74               │
│ Violet ┆ PG4           ┆ 5694         ┆ 251       ┆ 7.62  ┆ 13.29 ┆ 28              ┆ 107              │
│ Daisy  ┆ PG4           ┆ 5696         ┆ 260       ┆ 7.62  ┆ 13.29 ┆ 29              ┆ 98               │
│ Daisy  ┆ PG4           ┆ 5697         ┆ 237       ┆ 8.23  ┆ 13.29 ┆ 25              ┆ 98               │
│ Violet ┆ PG4           ┆ 5698         ┆ 277       ┆ 8.23  ┆ 13.29 ┆ 20              ┆ 100              │
│ Daisy  ┆ PG6           ┆ 5694         ┆ 358       ┆ 18.0  ┆ 36.09 ┆ 14              ┆ 37               │
└────────┴───────────────┴──────────────┴───────────┴───────┴───────┴─────────────────┴──────────────────┘

To select the same rows but only the first three columns:

In [9]:
# pandas
df_pd.iloc[10:20, :3]

# polars
df_pl[10:20, :3]

shape: (10, 3)
┌────────┬───────────────┬──────────────┐
│ store  ┆ product_group ┆ product_code │
│ ---    ┆ ---           ┆ ---          │
│ str    ┆ str           ┆ i64          │
╞════════╪═══════════════╪══════════════╡
│ Violet ┆ PG4           ┆ 5649         │
│ Violet ┆ PG2           ┆ 4721         │
│ Rose   ┆ PG2           ┆ 4724         │
│ Violet ┆ PG6           ┆ 5684         │
│ Daisy  ┆ PG4           ┆ 5693         │
│ Violet ┆ PG4           ┆ 5694         │
│ Daisy  ┆ PG4           ┆ 5696         │
│ Daisy  ┆ PG4           ┆ 5697         │
│ Violet ┆ PG4           ┆ 5698         │
│ Daisy  ┆ PG6           ┆ 5694         │
└────────┴───────────────┴──────────────┘

If we want to select columns by names, we can use the loc method in pandas which is unnecessary for Polars

In [10]:
# pandas
df_pd.loc[10:20, ["store", "product_group", "price"]]

# polars
df_pl[10:20, ["store", "product_group", "price"]]

shape: (10, 3)
┌────────┬───────────────┬───────┐
│ store  ┆ product_group ┆ price │
│ ---    ┆ ---           ┆ ---   │
│ str    ┆ str           ┆ f64   │
╞════════╪═══════════════╪═══════╡
│ Violet ┆ PG4           ┆ 13.29 │
│ Violet ┆ PG2           ┆ 30.39 │
│ Rose   ┆ PG2           ┆ 37.99 │
│ Violet ┆ PG6           ┆ 15.19 │
│ Daisy  ┆ PG4           ┆ 13.29 │
│ Violet ┆ PG4           ┆ 13.29 │
│ Daisy  ┆ PG4           ┆ 13.29 │
│ Daisy  ┆ PG4           ┆ 13.29 │
│ Violet ┆ PG4           ┆ 13.29 │
│ Daisy  ┆ PG6           ┆ 36.09 │
└────────┴───────────────┴───────┘

# Example 6: Select columns by data type

We can also select columns that are of a particular data type. <br>Let’s do an example that selects columns with 64 bit integer (i.e. int64) data type.

In [11]:
# pandas
df_pd.select_dtypes(include="int64")

# polars
df_pl.select(pl.col(pl.Int64))

shape: (1_000, 4)
┌──────────────┬───────────┬─────────────────┬──────────────────┐
│ product_code ┆ stock_qty ┆ last_week_sales ┆ last_month_sales │
│ ---          ┆ ---       ┆ ---             ┆ ---              │
│ i64          ┆ i64       ┆ i64             ┆ i64              │
╞══════════════╪═══════════╪═════════════════╪══════════════════╡
│ 4187         ┆ 498       ┆ 13              ┆ 58               │
│ 4195         ┆ 473       ┆ 16              ┆ 58               │
│ 4204         ┆ 968       ┆ 22              ┆ 88               │
│ 4219         ┆ 241       ┆ 14              ┆ 45               │
│ 4718         ┆ 1401      ┆ 50              ┆ 285              │
│ …            ┆ …         ┆ …               ┆ …                │
│ 8048         ┆ 415       ┆ 28              ┆ 60               │
│ 8050         ┆ -10       ┆ 14              ┆ 11               │
│ 952          ┆ 5388      ┆ 331             ┆ 1041             │
│ 1307         ┆ 44996     ┆ 1772            ┆ 6394             │
│ 3018         ┆ 1697      ┆ 19              ┆ 52               │
└──────────────┴───────────┴─────────────────┴──────────────────┘

# Example 7: Creating a New Column using .with_columns()
The with_columns function creates a new column in Polars DataFrames. The new column can be derived from other columns such as extracting the year from a date value. We can do arithmetic operations including multiple columns, or simply create a column with a constant.

<b>One thing to note here is that with_columns function can also be used for changing column data types.</b>

Following code snippet shows how all these operations are done.

In [12]:
import polars as pl
df_pl = pl.read_csv("datasets/data_polars_practicing.csv")
df_pl.head()

shape: (5, 5)
┌────────────┬──────────────┬────────────┬───────────┬───────────┐
│ store_code ┆ product_code ┆ sales_date ┆ sales_qty ┆ sales_rev │
│ ---        ┆ ---          ┆ ---        ┆ ---       ┆ ---       │
│ str        ┆ i64          ┆ str        ┆ i64       ┆ f64       │
╞════════════╪══════════════╪════════════╪═══════════╪═══════════╡
│ B1         ┆ 89909        ┆ 2021-05-01 ┆ 0         ┆ 0.0       │
│ B1         ┆ 89909        ┆ 2021-05-02 ┆ 0         ┆ 0.0       │
│ B1         ┆ 89909        ┆ 2021-05-03 ┆ 0         ┆ 0.0       │
│ B1         ┆ 89909        ┆ 2021-05-04 ┆ 0         ┆ 0.0       │
│ B1         ┆ 89909        ┆ 2021-05-05 ┆ 0         ┆ 0.0       │
└────────────┴──────────────┴────────────┴───────────┴───────────┘

In [13]:
# testing a multiple filter condition before using .with_columns
# sales quantity is more than 0 and store code is A2
df_pl.filter((pl.col("store_code") == "A2") & (pl.col("sales_qty") > 0))

shape: (797, 5)
┌────────────┬──────────────┬────────────┬───────────┬───────────┐
│ store_code ┆ product_code ┆ sales_date ┆ sales_qty ┆ sales_rev │
│ ---        ┆ ---          ┆ ---        ┆ ---       ┆ ---       │
│ str        ┆ i64          ┆ str        ┆ i64       ┆ f64       │
╞════════════╪══════════════╪════════════╪═══════════╪═══════════╡
│ A2         ┆ 89629        ┆ 2021-06-15 ┆ 1         ┆ 319.0     │
│ A2         ┆ 89631        ┆ 2021-06-12 ┆ 1         ┆ 349.0     │
│ A2         ┆ 89633        ┆ 2021-07-07 ┆ 1         ┆ 217.0     │
│ A2         ┆ 89635        ┆ 2021-07-08 ┆ 1         ┆ 217.0     │
│ A2         ┆ 89637        ┆ 2021-06-22 ┆ 1         ┆ 349.0     │
│ …          ┆ …            ┆ …          ┆ …         ┆ …         │
│ A2         ┆ 242194       ┆ 2021-09-09 ┆ 1         ┆ 1395.0    │
│ A2         ┆ 242194       ┆ 2021-10-21 ┆ 1         ┆ 1211.45   │
│ A2         ┆ 242194       ┆ 2021-11-12 ┆ 1         ┆ 1240.0    │
│ A2         ┆ 242196       ┆ 2021-09-29 ┆ 1         ┆ 1550.0    │
│ A2         ┆ 242196       ┆ 2021-10-13 ┆ 1         ┆ 1233.54   │
└────────────┴──────────────┴────────────┴───────────┴───────────┘

In [14]:
# product code is one of the following: 89909, 89912, 89915, 89918
df_pl.filter(pl.col("product_code").is_in([89909, 89912, 89915, 89918]))

shape: (608, 5)
┌────────────┬──────────────┬────────────┬───────────┬───────────┐
│ store_code ┆ product_code ┆ sales_date ┆ sales_qty ┆ sales_rev │
│ ---        ┆ ---          ┆ ---        ┆ ---       ┆ ---       │
│ str        ┆ i64          ┆ str        ┆ i64       ┆ f64       │
╞════════════╪══════════════╪════════════╪═══════════╪═══════════╡
│ B1         ┆ 89909        ┆ 2021-05-01 ┆ 0         ┆ 0.0       │
│ B1         ┆ 89909        ┆ 2021-05-02 ┆ 0         ┆ 0.0       │
│ B1         ┆ 89909        ┆ 2021-05-03 ┆ 0         ┆ 0.0       │
│ B1         ┆ 89909        ┆ 2021-05-04 ┆ 0         ┆ 0.0       │
│ B1         ┆ 89909        ┆ 2021-05-05 ┆ 0         ┆ 0.0       │
│ …          ┆ …            ┆ …          ┆ …         ┆ …         │
│ A1         ┆ 89918        ┆ 2021-07-04 ┆ 0         ┆ 0.0       │
│ A1         ┆ 89918        ┆ 2021-07-05 ┆ 0         ┆ 0.0       │
│ A1         ┆ 89918        ┆ 2021-07-06 ┆ 0         ┆ 0.0       │
│ A1         ┆ 89918        ┆ 2021-07-07 ┆ 1         ┆ 1950.0    │
│ A1         ┆ 89918        ┆ 2021-07-08 ┆ 0         ┆ 0.0       │
└────────────┴──────────────┴────────────┴───────────┴───────────┘

### .with_columns

In [15]:
df_pl.head(3)

shape: (3, 5)
┌────────────┬──────────────┬────────────┬───────────┬───────────┐
│ store_code ┆ product_code ┆ sales_date ┆ sales_qty ┆ sales_rev │
│ ---        ┆ ---          ┆ ---        ┆ ---       ┆ ---       │
│ str        ┆ i64          ┆ str        ┆ i64       ┆ f64       │
╞════════════╪══════════════╪════════════╪═══════════╪═══════════╡
│ B1         ┆ 89909        ┆ 2021-05-01 ┆ 0         ┆ 0.0       │
│ B1         ┆ 89909        ┆ 2021-05-02 ┆ 0         ┆ 0.0       │
│ B1         ┆ 89909        ┆ 2021-05-03 ┆ 0         ┆ 0.0       │
└────────────┴──────────────┴────────────┴───────────┴───────────┘

In [16]:
# change the data type of sales date from string to date
df_pl = df_pl.with_columns(pl.col("sales_date").str.to_date())
df_pl.head(3)

shape: (3, 5)
┌────────────┬──────────────┬────────────┬───────────┬───────────┐
│ store_code ┆ product_code ┆ sales_date ┆ sales_qty ┆ sales_rev │
│ ---        ┆ ---          ┆ ---        ┆ ---       ┆ ---       │
│ str        ┆ i64          ┆ date       ┆ i64       ┆ f64       │
╞════════════╪══════════════╪════════════╪═══════════╪═══════════╡
│ B1         ┆ 89909        ┆ 2021-05-01 ┆ 0         ┆ 0.0       │
│ B1         ┆ 89909        ┆ 2021-05-02 ┆ 0         ┆ 0.0       │
│ B1         ┆ 89909        ┆ 2021-05-03 ┆ 0         ┆ 0.0       │
└────────────┴──────────────┴────────────┴───────────┴───────────┘

In [17]:
# create year column by extracting year from date column
df_pl = df_pl.with_columns(pl.col("sales_date").dt.year().alias("year"))
df_pl.head(3)

shape: (3, 6)
┌────────────┬──────────────┬────────────┬───────────┬───────────┬──────┐
│ store_code ┆ product_code ┆ sales_date ┆ sales_qty ┆ sales_rev ┆ year │
│ ---        ┆ ---          ┆ ---        ┆ ---       ┆ ---       ┆ ---  │
│ str        ┆ i64          ┆ date       ┆ i64       ┆ f64       ┆ i32  │
╞════════════╪══════════════╪════════════╪═══════════╪═══════════╪══════╡
│ B1         ┆ 89909        ┆ 2021-05-01 ┆ 0         ┆ 0.0       ┆ 2021 │
│ B1         ┆ 89909        ┆ 2021-05-02 ┆ 0         ┆ 0.0       ┆ 2021 │
│ B1         ┆ 89909        ┆ 2021-05-03 ┆ 0         ┆ 0.0       ┆ 2021 │
└────────────┴──────────────┴────────────┴───────────┴───────────┴──────┘

In [18]:
# create price column by dividing sales revenue by sales quantity
df_pl = df_pl.with_columns((pl.col("sales_rev") / pl.col("sales_qty")).alias("price"))
df_pl.head(3)

shape: (3, 7)
┌────────────┬──────────────┬────────────┬───────────┬───────────┬──────┬───────┐
│ store_code ┆ product_code ┆ sales_date ┆ sales_qty ┆ sales_rev ┆ year ┆ price │
│ ---        ┆ ---          ┆ ---        ┆ ---       ┆ ---       ┆ ---  ┆ ---   │
│ str        ┆ i64          ┆ date       ┆ i64       ┆ f64       ┆ i32  ┆ f64   │
╞════════════╪══════════════╪════════════╪═══════════╪═══════════╪══════╪═══════╡
│ B1         ┆ 89909        ┆ 2021-05-01 ┆ 0         ┆ 0.0       ┆ 2021 ┆ NaN   │
│ B1         ┆ 89909        ┆ 2021-05-02 ┆ 0         ┆ 0.0       ┆ 2021 ┆ NaN   │
│ B1         ┆ 89909        ┆ 2021-05-03 ┆ 0         ┆ 0.0       ┆ 2021 ┆ NaN   │
└────────────┴──────────────┴────────────┴───────────┴───────────┴──────┴───────┘

In [19]:
# create a column with a constant value
df_pl = df_pl.with_columns(pl.lit(0).alias("dummy_column"))
df_pl = df_pl.with_columns(pl.lit('apple_seed').alias("dummy_column_2"))
df_pl.head(3)

shape: (3, 9)
┌────────────┬──────────────┬────────────┬───────────┬───┬──────┬───────┬──────────────┬────────────────┐
│ store_code ┆ product_code ┆ sales_date ┆ sales_qty ┆ … ┆ year ┆ price ┆ dummy_column ┆ dummy_column_2 │
│ ---        ┆ ---          ┆ ---        ┆ ---       ┆   ┆ ---  ┆ ---   ┆ ---          ┆ ---            │
│ str        ┆ i64          ┆ date       ┆ i64       ┆   ┆ i32  ┆ f64   ┆ i32          ┆ str            │
╞════════════╪══════════════╪════════════╪═══════════╪═══╪══════╪═══════╪══════════════╪════════════════╡
│ B1         ┆ 89909        ┆ 2021-05-01 ┆ 0         ┆ … ┆ 2021 ┆ NaN   ┆ 0            ┆ apple_seed     │
│ B1         ┆ 89909        ┆ 2021-05-02 ┆ 0         ┆ … ┆ 2021 ┆ NaN   ┆ 0            ┆ apple_seed     │
│ B1         ┆ 89909        ┆ 2021-05-03 ┆ 0         ┆ … ┆ 2021 ┆ NaN   ┆ 0            ┆ apple_seed     │
└────────────┴──────────────┴────────────┴───────────┴───┴──────┴───────┴──────────────┴────────────────┘

in pandas, it is done like this:
# Pandas

# change the data type of sales date from string to date
df_pd = df_pd.astype({"sales_date": "datetime64[ns]"})

# create year column by extracting year from date column
df_pd.loc[:, "year"] = df_pd.loc[:, "sales_date"].dt.year

# create price column by dividing sales revenue by sales quantity
df_pd.loc[:, "price"] = df_pd.loc[:, "sales_rev"] / df_pd.loc[:, "sales_rev"]

# create a column with a constant value
df_pd.loc[:, "dummy_column"] = 0

# Group by
The group_by function groups the rows based on the distinct values in a given column or columns. Then, we can calculate several different aggregations on each group such as mean, max, min, sum, and so on.

Following code snippet shows some different groupings and aggregations done on our DataFrame.

In [20]:
df_pl.head()

shape: (5, 9)
┌────────────┬──────────────┬────────────┬───────────┬───┬──────┬───────┬──────────────┬────────────────┐
│ store_code ┆ product_code ┆ sales_date ┆ sales_qty ┆ … ┆ year ┆ price ┆ dummy_column ┆ dummy_column_2 │
│ ---        ┆ ---          ┆ ---        ┆ ---       ┆   ┆ ---  ┆ ---   ┆ ---          ┆ ---            │
│ str        ┆ i64          ┆ date       ┆ i64       ┆   ┆ i32  ┆ f64   ┆ i32          ┆ str            │
╞════════════╪══════════════╪════════════╪═══════════╪═══╪══════╪═══════╪══════════════╪════════════════╡
│ B1         ┆ 89909        ┆ 2021-05-01 ┆ 0         ┆ … ┆ 2021 ┆ NaN   ┆ 0            ┆ apple_seed     │
│ B1         ┆ 89909        ┆ 2021-05-02 ┆ 0         ┆ … ┆ 2021 ┆ NaN   ┆ 0            ┆ apple_seed     │
│ B1         ┆ 89909        ┆ 2021-05-03 ┆ 0         ┆ … ┆ 2021 ┆ NaN   ┆ 0            ┆ apple_seed     │
│ B1         ┆ 89909        ┆ 2021-05-04 ┆ 0         ┆ … ┆ 2021 ┆ NaN   ┆ 0            ┆ apple_seed     │
│ B1         ┆ 89909        ┆ 2021-05-05 ┆ 0         ┆ … ┆ 2021 ┆ NaN   ┆ 0            ┆ apple_seed     │
└────────────┴──────────────┴────────────┴───────────┴───┴──────┴───────┴──────────────┴────────────────┘

notes: The df above already has sales_date in vertical form. 
so if my dates are wide, I should melt it first before doing a group_by (like below) ?

In [21]:
# calculate total and average sales for each store
df_pl.group_by(["store_code"]).agg(
    pl.sum("sales_qty").alias("total_sales"),
    pl.mean("sales_qty").alias("avg_sales")
)

shape: (4, 3)
┌────────────┬─────────────┬───────────┐
│ store_code ┆ total_sales ┆ avg_sales │
│ ---        ┆ ---         ┆ ---       │
│ str        ┆ i64         ┆ f64       │
╞════════════╪═════════════╪═══════════╡
│ A1         ┆ 590         ┆ 0.011261  │
│ B1         ┆ 561         ┆ 0.011152  │
│ A2         ┆ 787         ┆ 0.013982  │
│ B2         ┆ 399         ┆ 0.007207  │
└────────────┴─────────────┴───────────┘

In [22]:
# calculate total and average sales for each store-year pair
df_pl.group_by(["store_code", "year"]).agg(
    pl.sum("sales_qty").alias("total_sales"),
    pl.mean("sales_qty").alias("avg_sales")
).sort(by=['store_code', 'year'])

shape: (4, 4)
┌────────────┬──────┬─────────────┬───────────┐
│ store_code ┆ year ┆ total_sales ┆ avg_sales │
│ ---        ┆ ---  ┆ ---         ┆ ---       │
│ str        ┆ i32  ┆ i64         ┆ f64       │
╞════════════╪══════╪═════════════╪═══════════╡
│ A1         ┆ 2021 ┆ 590         ┆ 0.011261  │
│ A2         ┆ 2021 ┆ 787         ┆ 0.013982  │
│ B1         ┆ 2021 ┆ 561         ┆ 0.011152  │
│ B2         ┆ 2021 ┆ 399         ┆ 0.007207  │
└────────────┴──────┴─────────────┴───────────┘

In [23]:
# create product lifetime and unique day count for each product
"""
we calculate the product lifetime by grouping the rows by product and finding the difference between the minimum and maximum dates 
for each group (i.e. product)."""

df_pl.group_by(["product_code"]).agg(
    [
        pl.n_unique("sales_date").alias("unique_day_count"),
        ((pl.max("sales_date") - pl.min("sales_date")).dt.total_days() + 1).alias("lifetime")
    ]
)

shape: (1_244, 3)
┌──────────────┬──────────────────┬──────────┐
│ product_code ┆ unique_day_count ┆ lifetime │
│ ---          ┆ ---              ┆ ---      │
│ i64          ┆ u32              ┆ i64      │
╞══════════════╪══════════════════╪══════════╡
│ 241083       ┆ 72               ┆ 72       │
│ 109853       ┆ 107              ┆ 107      │
│ 92174        ┆ 57               ┆ 57       │
│ 109061       ┆ 71               ┆ 71       │
│ 119547       ┆ 97               ┆ 97       │
│ …            ┆ …                ┆ …        │
│ 110612       ┆ 63               ┆ 63       │
│ 230942       ┆ 62               ┆ 62       │
│ 196867       ┆ 208              ┆ 208      │
│ 229492       ┆ 72               ┆ 72       │
│ 230421       ┆ 99               ┆ 99       │
└──────────────┴──────────────────┴──────────┘

# Pandas

# calculate total and average sales for each store
df_pd.groupby(["store_code"], as_index=False).agg(
    total_sales = ("sales_qty", "sum"),
    avg_sales = ("sales_qty", "mean")
)

# calculate total and average sales for each store-year pair
df_pd.groupby(["store_code","year"], as_index=False).agg(
    total_sales = ("sales_qty", "sum"),
    avg_sales = ("sales_qty", "mean")
)

# create product lifetime and unique day count for each product
df_pd.groupby(["product_code"], as_index=False).agg(
    unique_day_count = ("sales_date", "nunique"),
    lifetime = ("sales_date", lambda x: (x.max() - x.min()).days + 1)
)

In Pandas, we can pass the aggregate function names as string if it’s a built-in function. Or, we can write a custom aggregation (e.g. calculating product lifetime) using lambda functions.

# .when()
We can use the when function along with the with_columns function for creating conditional columns. It works as shown below. If the condition is met, then the column takes corresponding value. We can provide multiple conditions by chaining when-then pairs. Finally, the otherwise part is for the remaining rows that don’t fit any of the given conditions.

> when(condition1).then(value2) <br>
> when(condition1).then(value2) <br>
> otherwise(value3)  <br>

Examples:

In [24]:
# Polars

# create has_value column that takes the value 1 if sales quantity is higher than 0 and the value 0 otherwise

dft = df_pl.with_columns(
    pl.when(pl.col("sales_qty") > 0).then(1).otherwise(0).alias("has_sales")
)
dft["has_sales"].value_counts()

shape: (2, 2)
┌───────────┬────────┐
│ has_sales ┆ count  │
│ ---       ┆ ---    │
│ i32       ┆ u32    │
╞═══════════╪════════╡
│ 0         ┆ 211927 │
│ 1         ┆ 2421   │
└───────────┴────────┘

##### multiple when_then

In [25]:
df_pl.shape

(214348, 9)

In [26]:
df_pl["sales_qty"].value_counts()

shape: (8, 2)
┌───────────┬────────┐
│ sales_qty ┆ count  │
│ ---       ┆ ---    │
│ i64       ┆ u32    │
╞═══════════╪════════╡
│ -3        ┆ 1      │
│ 2         ┆ 73     │
│ 4         ┆ 1      │
│ 1         ┆ 2342   │
│ -1        ┆ 159    │
│ 0         ┆ 211763 │
│ -2        ┆ 4      │
│ 3         ┆ 5      │
└───────────┴────────┘

In [27]:
# create sales_group column that takes the value 
# "low" if sales quantity is less than 5 
# "medium" if sales quantity is between 5 and 20
# "high" otherwise (i.e. sales is more than 20)

dft = df_pl.with_columns(
    pl.when(pl.col("sales_qty") < 0).then(pl.lit("error data")).\
    when((pl.col("sales_qty") >= 0) & (pl.col("sales_qty") < 1)).then(pl.lit("low")).\
    otherwise(pl.lit("high")).alias("sales_group")
)
dft["sales_group"].value_counts()

shape: (3, 2)
┌─────────────┬────────┐
│ sales_group ┆ count  │
│ ---         ┆ ---    │
│ str         ┆ u32    │
╞═════════════╪════════╡
│ error data  ┆ 164    │
│ high        ┆ 2421   │
│ low         ┆ 211763 │
└─────────────┴────────┘

# Pandas
import numpy as np

# create has_value column that takes the value 1 if 
# sales quantity is higher than 0 and the value 0 otherwise
df_pd.loc[:, "has_sale"] = np.where(df_pd["sales_qty"] > 0, 1, 0)

# create sales_group column that takes the 
# value low if sales quantity is less than 5
# value medium if sales quantity is between 5 and 20
# value high otherwise (i.e. sales is more than 20)

conditions = [
    df_pd["sales_qty"] < 5,
    (df_pd["sales_qty"] >= 5) & (df_pd["sales_qty"] < 20)
]

values = ["low", "medium"]

df_pd.loc[:, "sales_group"] = np.select(conditions, values, default="high")

# polars.DataFrame.melt
- Unpivot a DataFrame from wide to long format.
- Optionally leaves identifiers set.
- This function is useful to massage a DataFrame into a format
    - where one or more columns are <b>identifier variables</b> (`id_vars`) while all other columns, considered <b>measured variables</b> (`value_vars`), are “unpivoted” to the row axis
    - leaving just <b>two non-identifier columns</b>, `variable` and `value`.
        - where `variable` is one or more columsn that are not the id_vars nor the value_vars
>`id_vars` | variable | `value_vars`
      
- https://docs.pola.rs/py-polars/html/reference/dataframe/api/polars.DataFrame.melt.html
<br>
<u>Parameters:</u>
- id_vars
    - Column(s) or selector(s) to use as identifier variables.
- value_vars
    - Column(s) or selector(s) to use as values variables;
    - if value_vars is empty, then all columns that are not in id_vars will be used.
- variable_name
    - Name to give to the variable column. Defaults to “variable”
- value_name
    - Name to give to the value column. Defaults to “value”

In [28]:
import polars as pl
df = pl.DataFrame(
    {
        "a": ["x", "y", "z"],
        "b": [1, 3, 5],
        "c": [2, 4, 6],
    }
)
print(df.schema)
print(df)

OrderedDict([('a', String), ('b', Int64), ('c', Int64)])
shape: (3, 3)
┌─────┬─────┬─────┐
│ a   ┆ b   ┆ c   │
│ --- ┆ --- ┆ --- │
│ str ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ x   ┆ 1   ┆ 2   │
│ y   ┆ 3   ┆ 4   │
│ z   ┆ 5   ┆ 6   │
└─────┴─────┴─────┘

In [29]:
df.melt(id_vars="a", value_vars=['c'])

shape: (3, 3)
┌─────┬──────────┬───────┐
│ a   ┆ variable ┆ value │
│ --- ┆ ---      ┆ ---   │
│ str ┆ str      ┆ i64   │
╞═════╪══════════╪═══════╡
│ x   ┆ c        ┆ 2     │
│ y   ┆ c        ┆ 4     │
│ z   ┆ c        ┆ 6     │
└─────┴──────────┴───────┘

In [30]:
import polars.selectors as cs
df.melt(id_vars="a", value_vars=cs.numeric())  # selector allows selection by datatype

shape: (6, 3)
┌─────┬──────────┬───────┐
│ a   ┆ variable ┆ value │
│ --- ┆ ---      ┆ ---   │
│ str ┆ str      ┆ i64   │
╞═════╪══════════╪═══════╡
│ x   ┆ b        ┆ 1     │
│ y   ┆ b        ┆ 3     │
│ z   ┆ b        ┆ 5     │
│ x   ┆ c        ┆ 2     │
│ y   ┆ c        ┆ 4     │
│ z   ┆ c        ┆ 6     │
└─────┴──────────┴───────┘

In [31]:
df.melt(id_vars="a")

shape: (6, 3)
┌─────┬──────────┬───────┐
│ a   ┆ variable ┆ value │
│ --- ┆ ---      ┆ ---   │
│ str ┆ str      ┆ i64   │
╞═════╪══════════╪═══════╡
│ x   ┆ b        ┆ 1     │
│ y   ┆ b        ┆ 3     │
│ z   ┆ b        ┆ 5     │
│ x   ┆ c        ┆ 2     │
│ y   ┆ c        ┆ 4     │
│ z   ┆ c        ┆ 6     │
└─────┴──────────┴───────┘

# Long to Wide

In [32]:
import polars as pl
df = pl.DataFrame(
    {
        "a": ["x", "y", "z"],
        "b": [1, 3, 5],
        "c": [2, 4, 6],
    }
)
print(df.schema)
print(df)
import polars.selectors as cs
dfm = df.melt(id_vars="a", value_vars=cs.numeric())  # selector allows selection by datatype
print(dfm)

OrderedDict([('a', String), ('b', Int64), ('c', Int64)])
shape: (3, 3)
┌─────┬─────┬─────┐
│ a   ┆ b   ┆ c   │
│ --- ┆ --- ┆ --- │
│ str ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ x   ┆ 1   ┆ 2   │
│ y   ┆ 3   ┆ 4   │
│ z   ┆ 5   ┆ 6   │
└─────┴─────┴─────┘
shape: (6, 3)
┌─────┬──────────┬───────┐
│ a   ┆ variable ┆ value │
│ --- ┆ ---      ┆ ---   │
│ str ┆ str      ┆ i64   │
╞═════╪══════════╪═══════╡
│ x   ┆ b        ┆ 1     │
│ y   ┆ b        ┆ 3     │
│ z   ┆ b        ┆ 5     │
│ x   ┆ c        ┆ 2     │
│ y   ┆ c        ┆ 4     │
│ z   ┆ c        ┆ 6     │
└─────┴──────────┴───────┘

In [33]:
# it is possible to pivot from wide-to-long without using any aggregations
# https://docs.pola.rs/py-polars/html/reference/dataframe/api/polars.DataFrame.pivot.html
# e.g. df.pivot(index="foo", columns="bar", values="baz", aggregate_function="sum")
# but need to test throughly

dfm.pivot(index="a", columns="variable", values="value")

shape: (3, 3)
┌─────┬─────┬─────┐
│ a   ┆ b   ┆ c   │
│ --- ┆ --- ┆ --- │
│ str ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ x   ┆ 1   ┆ 2   │
│ y   ┆ 3   ┆ 4   │
│ z   ┆ 5   ┆ 6   │
└─────┴─────┴─────┘

##### Lazy

q = (
    df.lazy()
    .collect()
    .pivot(index="foo", columns="bar", values="N", aggregate_function="first")
    .lazy()
)
out = q.collect()
print(out)

# !!! Long to Wide, sorted and Wide to Long !!!

In [34]:
### Example
import polars as pl
df = pl.DataFrame(
    {
        "app_code": ["x", "y", "z"],
        "driver": ["a1", "a1", "a2"],
        "pc_code": ["111", "111", "222"],
        '2023-01': [1 ,2, 3],
        '2023-02': [4, 5, 6],
        '2023-03': [7, 8, 9],        
    }
)
# print(df.schema)
print(df)
import polars.selectors as cs
dfm = df.melt(id_vars=["app_code", "driver", "pc_code"], value_vars=cs.numeric())  # selector allows selection by datatype
print(dfm)

shape: (3, 6)
┌──────────┬────────┬─────────┬─────────┬─────────┬─────────┐
│ app_code ┆ driver ┆ pc_code ┆ 2023-01 ┆ 2023-02 ┆ 2023-03 │
│ ---      ┆ ---    ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ str      ┆ str    ┆ str     ┆ i64     ┆ i64     ┆ i64     │
╞══════════╪════════╪═════════╪═════════╪═════════╪═════════╡
│ x        ┆ a1     ┆ 111     ┆ 1       ┆ 4       ┆ 7       │
│ y        ┆ a1     ┆ 111     ┆ 2       ┆ 5       ┆ 8       │
│ z        ┆ a2     ┆ 222     ┆ 3       ┆ 6       ┆ 9       │
└──────────┴────────┴─────────┴─────────┴─────────┴─────────┘
shape: (9, 5)
┌──────────┬────────┬─────────┬──────────┬───────┐
│ app_code ┆ driver ┆ pc_code ┆ variable ┆ value │
│ ---      ┆ ---    ┆ ---     ┆ ---      ┆ ---   │
│ str      ┆ str    ┆ str     ┆ str      ┆ i64   │
╞══════════╪════════╪═════════╪══════════╪═══════╡
│ x        ┆ a1     ┆ 111     ┆ 2023-01  ┆ 1     │
│ y        ┆ a1     ┆ 111     ┆ 2023-01  ┆ 2     │
│ z        ┆ a2     ┆ 222     ┆ 2023-01  ┆ 3     │
│ x        ┆ a1     ┆ 111     ┆ 2023-02  ┆ 4     │
│ y        ┆ a1     ┆ 111     ┆ 2023-02  ┆ 5     │
│ z        ┆ a2     ┆ 222     ┆ 2023-02  ┆ 6     │
│ x        ┆ a1     ┆ 111     ┆ 2023-03  ┆ 7     │
│ y        ┆ a1     ┆ 111     ┆ 2023-03  ┆ 8     │
│ z        ┆ a2     ┆ 222     ┆ 2023-03  ┆ 9     │
└──────────┴────────┴─────────┴──────────┴───────┘

In [35]:
dfm_s = dfm.sort(by=["pc_code", "app_code", "driver"])
dfm_s

shape: (9, 5)
┌──────────┬────────┬─────────┬──────────┬───────┐
│ app_code ┆ driver ┆ pc_code ┆ variable ┆ value │
│ ---      ┆ ---    ┆ ---     ┆ ---      ┆ ---   │
│ str      ┆ str    ┆ str     ┆ str      ┆ i64   │
╞══════════╪════════╪═════════╪══════════╪═══════╡
│ x        ┆ a1     ┆ 111     ┆ 2023-01  ┆ 1     │
│ x        ┆ a1     ┆ 111     ┆ 2023-02  ┆ 4     │
│ x        ┆ a1     ┆ 111     ┆ 2023-03  ┆ 7     │
│ y        ┆ a1     ┆ 111     ┆ 2023-01  ┆ 2     │
│ y        ┆ a1     ┆ 111     ┆ 2023-02  ┆ 5     │
│ y        ┆ a1     ┆ 111     ┆ 2023-03  ┆ 8     │
│ z        ┆ a2     ┆ 222     ┆ 2023-01  ┆ 3     │
│ z        ┆ a2     ┆ 222     ┆ 2023-02  ┆ 6     │
│ z        ┆ a2     ┆ 222     ┆ 2023-03  ┆ 9     │
└──────────┴────────┴─────────┴──────────┴───────┘

In [36]:
dfm_p = dfm_s.pivot(index=["app_code", "driver", "pc_code"], columns="variable", values="value")
dfm_p

shape: (3, 6)
┌──────────┬────────┬─────────┬─────────┬─────────┬─────────┐
│ app_code ┆ driver ┆ pc_code ┆ 2023-01 ┆ 2023-02 ┆ 2023-03 │
│ ---      ┆ ---    ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ str      ┆ str    ┆ str     ┆ i64     ┆ i64     ┆ i64     │
╞══════════╪════════╪═════════╪═════════╪═════════╪═════════╡
│ x        ┆ a1     ┆ 111     ┆ 1       ┆ 4       ┆ 7       │
│ y        ┆ a1     ┆ 111     ┆ 2       ┆ 5       ┆ 8       │
│ z        ┆ a2     ┆ 222     ┆ 3       ┆ 6       ┆ 9       │
└──────────┴────────┴─────────┴─────────┴─────────┴─────────┘

In [37]:
# Simulate groupby ? Still need to melt?

# !!! Simulation: Long to Wide, melt vs group_by !!!
- After melting, it is difficult to get back exactly the same number of columns and rows
- So if the pre-melt data is important, it needs to be stored before any transformation is done

In [38]:
### Example
import polars as pl
df = pl.DataFrame(
    {
        "app_code": ["x", "y", "y", "z", "z", "z"],
        "driver":   ["y1", "y1", "y1", "y1", "y2", "y2"],
        "pc_code":  ["z1", "z1", "z1", "z1", "z2", "z2",],
        '2023-01':  [1, 1, 1, 1, 1, 1],
        '2023-02':  [1, 1, 1, 1, 1, 1],
        '2023-03':  [1, 1, 1, 1, 1, 1]        
    }
)
print(df)

import polars.selectors as cs  # instead of melt, why not just group_by?
dfm = df.melt(id_vars=["app_code", "driver", "pc_code"], value_vars=cs.numeric())  # selector allows selection by datatype
print(dfm)

print("\nIf there are duplicate rounds, they need to be deduped or aggregated, else Error occurs")
dfm_p = dfm.pivot(index=["app_code", "driver", "pc_code"], columns="variable", values="value", aggregate_function="sum")
print(dfm_p)
dfm_p.write_csv("z_test.csv")

shape: (6, 6)
┌──────────┬────────┬─────────┬─────────┬─────────┬─────────┐
│ app_code ┆ driver ┆ pc_code ┆ 2023-01 ┆ 2023-02 ┆ 2023-03 │
│ ---      ┆ ---    ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ str      ┆ str    ┆ str     ┆ i64     ┆ i64     ┆ i64     │
╞══════════╪════════╪═════════╪═════════╪═════════╪═════════╡
│ x        ┆ y1     ┆ z1      ┆ 1       ┆ 1       ┆ 1       │
│ y        ┆ y1     ┆ z1      ┆ 1       ┆ 1       ┆ 1       │
│ y        ┆ y1     ┆ z1      ┆ 1       ┆ 1       ┆ 1       │
│ z        ┆ y1     ┆ z1      ┆ 1       ┆ 1       ┆ 1       │
│ z        ┆ y2     ┆ z2      ┆ 1       ┆ 1       ┆ 1       │
│ z        ┆ y2     ┆ z2      ┆ 1       ┆ 1       ┆ 1       │
└──────────┴────────┴─────────┴─────────┴─────────┴─────────┘
shape: (18, 5)
┌──────────┬────────┬─────────┬──────────┬───────┐
│ app_code ┆ driver ┆ pc_code ┆ variable ┆ value │
│ ---      ┆ ---    ┆ ---     ┆ ---      ┆ ---   │
│ str      ┆ str    ┆ str     ┆ str      ┆ i64   │
╞══════════╪════════╪═════════╪══════════╪═══════╡
│ x        ┆ y1     ┆ z1      ┆ 2023-01  ┆ 1     │
│ y        ┆ y1     ┆ z1      ┆ 2023-01  ┆ 1     │
│ y        ┆ y1     ┆ z1      ┆ 2023-01  ┆ 1     │
│ z        ┆ y1     ┆ z1      ┆ 2023-01  ┆ 1     │
│ z        ┆ y2     ┆ z2      ┆ 2023-01  ┆ 1     │
│ …        ┆ …      ┆ …       ┆ …        ┆ …     │
│ y        ┆ y1     ┆ z1      ┆ 2023-03  ┆ 1     │
│ y        ┆ y1     ┆ z1      ┆ 2023-03  ┆ 1     │
│ z        ┆ y1     ┆ z1      ┆ 2023-03  ┆ 1     │
│ z        ┆ y2     ┆ z2      ┆ 2023-03  ┆ 1     │
│ z        ┆ y2     ┆ z2      ┆ 2023-03  ┆ 1     │
└──────────┴────────┴─────────┴──────────┴───────┘

If there are duplicate rounds, they need to be deduped or aggregated, else Error occurs
shape: (4, 6)
┌──────────┬────────┬─────────┬─────────┬─────────┬─────────┐
│ app_code ┆ driver ┆ pc_code ┆ 2023-01 ┆ 2023-02 ┆ 2023-03 │
│ ---      ┆ ---    ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ str      ┆ str    ┆ str     ┆ i64     ┆ i64     ┆ i64     │
╞══════════╪════════╪═════════╪═════════╪═════════╪═════════╡
│ x        ┆ y1     ┆ z1      ┆ 1       ┆ 1       ┆ 1       │
│ y        ┆ y1     ┆ z1      ┆ 2       ┆ 2       ┆ 2       │
│ z        ┆ y1     ┆ z1      ┆ 1       ┆ 1       ┆ 1       │
│ z        ┆ y2     ┆ z2      ┆ 2       ┆ 2       ┆ 2       │
└──────────┴────────┴─────────┴─────────┴─────────┴─────────┘

# Melt -> Group by -> make 1st col 'month_start', saving into database

In [39]:
import polars as pl
df = pl.DataFrame(
    {
        "pc_code":  ["z1", "z1", "z1", "z1", "z2", "z2",],
        "app_code": ["x", "y", "y", "z", "z", "z"],
        "driver":   ["y1", "y1", "y1", "y1", "y2", "y2"],
        '2023-01':  [1, 1, 1, 1, 1, 1],
        '2023-02':  [1, 1, 1, 1, 1, 1],
        '2023-03':  [1, 1, 1, 1, 1, 1]        
    }
)
print(df)
dfm = df.melt(id_vars=["pc_code", "app_code", "driver", ], value_vars=cs.numeric(),
             variable_name="month_start", value_name="cost")  # selector allows selection by datatype
print(dfm)

dfg = dfm.group_by(["month_start", "pc_code", "app_code", "driver", ]).agg(pl.col("cost").sum()).sort(by= \
                                                                                                      ["month_start", "pc_code", "app_code", "driver"])
print(dfg)
# dfg.write_csv("z_test.csv")

print("Keeping month_start in first column, means that I can delete by month_start and insert by_month_start.")

shape: (6, 6)
┌─────────┬──────────┬────────┬─────────┬─────────┬─────────┐
│ pc_code ┆ app_code ┆ driver ┆ 2023-01 ┆ 2023-02 ┆ 2023-03 │
│ ---     ┆ ---      ┆ ---    ┆ ---     ┆ ---     ┆ ---     │
│ str     ┆ str      ┆ str    ┆ i64     ┆ i64     ┆ i64     │
╞═════════╪══════════╪════════╪═════════╪═════════╪═════════╡
│ z1      ┆ x        ┆ y1     ┆ 1       ┆ 1       ┆ 1       │
│ z1      ┆ y        ┆ y1     ┆ 1       ┆ 1       ┆ 1       │
│ z1      ┆ y        ┆ y1     ┆ 1       ┆ 1       ┆ 1       │
│ z1      ┆ z        ┆ y1     ┆ 1       ┆ 1       ┆ 1       │
│ z2      ┆ z        ┆ y2     ┆ 1       ┆ 1       ┆ 1       │
│ z2      ┆ z        ┆ y2     ┆ 1       ┆ 1       ┆ 1       │
└─────────┴──────────┴────────┴─────────┴─────────┴─────────┘
shape: (18, 5)
┌─────────┬──────────┬────────┬─────────────┬──────┐
│ pc_code ┆ app_code ┆ driver ┆ month_start ┆ cost │
│ ---     ┆ ---      ┆ ---    ┆ ---         ┆ ---  │
│ str     ┆ str      ┆ str    ┆ str         ┆ i64  │
╞═════════╪══════════╪════════╪═════════════╪══════╡
│ z1      ┆ x        ┆ y1     ┆ 2023-01     ┆ 1    │
│ z1      ┆ y        ┆ y1     ┆ 2023-01     ┆ 1    │
│ z1      ┆ y        ┆ y1     ┆ 2023-01     ┆ 1    │
│ z1      ┆ z        ┆ y1     ┆ 2023-01     ┆ 1    │
│ z2      ┆ z        ┆ y2     ┆ 2023-01     ┆ 1    │
│ …       ┆ …        ┆ …      ┆ …           ┆ …    │
│ z1      ┆ y        ┆ y1     ┆ 2023-03     ┆ 1    │
│ z1      ┆ y        ┆ y1     ┆ 2023-03     ┆ 1    │
│ z1      ┆ z        ┆ y1     ┆ 2023-03     ┆ 1    │
│ z2      ┆ z        ┆ y2     ┆ 2023-03     ┆ 1    │
│ z2      ┆ z        ┆ y2     ┆ 2023-03     ┆ 1    │
└─────────┴──────────┴────────┴─────────────┴──────┘
shape: (12, 5)
┌─────────────┬─────────┬──────────┬────────┬──────┐
│ month_start ┆ pc_code ┆ app_code ┆ driver ┆ cost │
│ ---         ┆ ---     ┆ ---      ┆ ---    ┆ ---  │
│ str         ┆ str     ┆ str      ┆ str    ┆ i64  │
╞═════════════╪═════════╪══════════╪════════╪══════╡
│ 2023-01     ┆ z1      ┆ x        ┆ y1     ┆ 1    │
│ 2023-01     ┆ z1      ┆ y        ┆ y1     ┆ 2    │
│ 2023-01     ┆ z1      ┆ z        ┆ y1     ┆ 1    │
│ 2023-01     ┆ z2      ┆ z        ┆ y2     ┆ 2    │
│ 2023-02     ┆ z1      ┆ x        ┆ y1     ┆ 1    │
│ …           ┆ …       ┆ …        ┆ …      ┆ …    │
│ 2023-02     ┆ z2      ┆ z        ┆ y2     ┆ 2    │
│ 2023-03     ┆ z1      ┆ x        ┆ y1     ┆ 1    │
│ 2023-03     ┆ z1      ┆ y        ┆ y1     ┆ 2    │
│ 2023-03     ┆ z1      ┆ z        ┆ y1     ┆ 1    │
│ 2023-03     ┆ z2      ┆ z        ┆ y2     ┆ 2    │
└─────────────┴─────────┴──────────┴────────┴──────┘
Keeping month_start in first column, means that I can delete by month_start and insert by_month_start.

# rename col name, drop col, changing the value in a cell and create a new col, plus chg value in a cell directly
- change "2023-01-15" to 2023_01"
- change all months to "YYYY_MM"
- change last value of 2023-03 to 99

- https://docs.pola.rs/py-polars/html/reference/dataframe/api/polars.DataFrame.select.html

### I save the cleaned and melted into the db incl relevant cols incl hname but not the unnecessary ones. But group by is done only during send reports otherwise I lose the granularity of the data
- save to parquet
    - if parquet file size is small, we can save both wide and long, if req, does it make sense?
- load from parquet to either duck or polars

In [40]:
import polars as pl
import polars.selectors as cs
df = pl.DataFrame(
    {
        "pc_code":  ["z1", "z1", "z1", "z1", "z2", "z2",],
        "app_code": ["x", "y", "y", "z", "z", "z"],
        "driver":   ["y1", "y1", "y1", "y1", "y2", "y2"],
        "unwanted_col": ["u1", "u1", "u1", "u1", "u1", "u1"],
        '2023-01-15':  [1, 1, 1, 1, 1, 1],
        '2023-02':  [1, 1, 1, 1, 1, 1],
        '2023-03':  [1, 1, 1, 1, 1, 1]        
    }
)
# rename cols part A
col_map = {"unwanted_col": "remove_me"}
df = df.rename(col_map)
# remove unwanted columns
cols_wanted = df.columns
cols_wanted.remove("remove_me")
df = df.select(cols_wanted)

# rename cols part B 
# out = df.select(cs.integer(), cs.string(), cs.numeric()
col_month = df.select(cs.numeric()).columns
col_month_start = [c.split('-')[0].zfill(4) + '_' + c.split('-')[1] for c in col_month]
col_map = {}
col_map = {k: v for k, v in zip(col_month, col_month_start)}
df = df.rename(col_map)
# print(df)

# change the value - change last value of 2023-03 to 99
df[-1, "2023_03"] = 99  # this is inplace

# create a new col with lit
df = df.with_columns(
    h_name = pl.lit('XAB123')
)

# create a new col with condition
df = df.with_columns(pl.when(pl.col("2023_03") >= 99).then(pl.lit("1")).otherwise(pl.lit("0")).alias("outlier"))


# melt but how to keep those columns I created? Concat with a condition that it matches ["pc_code", "app_code", "driver"]
# month_start is wrong, should month_start be created after melting?
print(df)
dfm = df.melt(id_vars=["pc_code", "app_code", "driver", "h_name"], value_vars=cs.numeric(),
             variable_name="month_start", value_name="cost")  # selector allows selection by datatype
print(dfm)
print("save an csv and check")

print("group by is done in send report, not in etl. I don't want to lose the granularity of data.")
# dfg = dfm.group_by(["month_start", "pc_code", "app_code", "driver", ]).agg(pl.col("cost").sum()).sort(by= \
#                                                                                                       ["month_start", "pc_code", "app_code", "driver"])
# print(dfg)
# dfg.write_csv("z_test.csv")

# print("Keeping month_start in first column, means that I can delete by month_start and insert by_month_start.")

shape: (6, 8)
┌─────────┬──────────┬────────┬─────────┬─────────┬─────────┬────────┬─────────┐
│ pc_code ┆ app_code ┆ driver ┆ 2023_01 ┆ 2023_02 ┆ 2023_03 ┆ h_name ┆ outlier │
│ ---     ┆ ---      ┆ ---    ┆ ---     ┆ ---     ┆ ---     ┆ ---    ┆ ---     │
│ str     ┆ str      ┆ str    ┆ i64     ┆ i64     ┆ i64     ┆ str    ┆ str     │
╞═════════╪══════════╪════════╪═════════╪═════════╪═════════╪════════╪═════════╡
│ z1      ┆ x        ┆ y1     ┆ 1       ┆ 1       ┆ 1       ┆ XAB123 ┆ 0       │
│ z1      ┆ y        ┆ y1     ┆ 1       ┆ 1       ┆ 1       ┆ XAB123 ┆ 0       │
│ z1      ┆ y        ┆ y1     ┆ 1       ┆ 1       ┆ 1       ┆ XAB123 ┆ 0       │
│ z1      ┆ z        ┆ y1     ┆ 1       ┆ 1       ┆ 1       ┆ XAB123 ┆ 0       │
│ z2      ┆ z        ┆ y2     ┆ 1       ┆ 1       ┆ 1       ┆ XAB123 ┆ 0       │
│ z2      ┆ z        ┆ y2     ┆ 1       ┆ 1       ┆ 99      ┆ XAB123 ┆ 1       │
└─────────┴──────────┴────────┴─────────┴─────────┴─────────┴────────┴─────────┘
shape: (18, 6)
┌─────────┬──────────┬────────┬────────┬─────────────┬──────┐
│ pc_code ┆ app_code ┆ driver ┆ h_name ┆ month_start ┆ cost │
│ ---     ┆ ---      ┆ ---    ┆ ---    ┆ ---         ┆ ---  │
│ str     ┆ str      ┆ str    ┆ str    ┆ str         ┆ i64  │
╞═════════╪══════════╪════════╪════════╪═════════════╪══════╡
│ z1      ┆ x        ┆ y1     ┆ XAB123 ┆ 2023_01     ┆ 1    │
│ z1      ┆ y        ┆ y1     ┆ XAB123 ┆ 2023_01     ┆ 1    │
│ z1      ┆ y        ┆ y1     ┆ XAB123 ┆ 2023_01     ┆ 1    │
│ z1      ┆ z        ┆ y1     ┆ XAB123 ┆ 2023_01     ┆ 1    │
│ z2      ┆ z        ┆ y2     ┆ XAB123 ┆ 2023_01     ┆ 1    │
│ …       ┆ …        ┆ …      ┆ …      ┆ …           ┆ …    │
│ z1      ┆ y        ┆ y1     ┆ XAB123 ┆ 2023_03     ┆ 1    │
│ z1      ┆ y        ┆ y1     ┆ XAB123 ┆ 2023_03     ┆ 1    │
│ z1      ┆ z        ┆ y1     ┆ XAB123 ┆ 2023_03     ┆ 1    │
│ z2      ┆ z        ┆ y2     ┆ XAB123 ┆ 2023_03     ┆ 1    │
│ z2      ┆ z        ┆ y2     ┆ XAB123 ┆ 2023_03     ┆ 99   │
└─────────┴──────────┴────────┴────────┴─────────────┴──────┘
save an csv and check
group by is done in send report, not in etl. I don't want to lose the granularity of data.

In [41]:
# send report
dfg = dfm.group_by(["month_start", "pc_code", "app_code", "driver", ]).agg(pl.col("cost").sum()).sort(by= \
                                                                                                      ["month_start", "pc_code", "app_code", "driver"])
dfg

shape: (12, 5)
┌─────────────┬─────────┬──────────┬────────┬──────┐
│ month_start ┆ pc_code ┆ app_code ┆ driver ┆ cost │
│ ---         ┆ ---     ┆ ---      ┆ ---    ┆ ---  │
│ str         ┆ str     ┆ str      ┆ str    ┆ i64  │
╞═════════════╪═════════╪══════════╪════════╪══════╡
│ 2023_01     ┆ z1      ┆ x        ┆ y1     ┆ 1    │
│ 2023_01     ┆ z1      ┆ y        ┆ y1     ┆ 2    │
│ 2023_01     ┆ z1      ┆ z        ┆ y1     ┆ 1    │
│ 2023_01     ┆ z2      ┆ z        ┆ y2     ┆ 2    │
│ 2023_02     ┆ z1      ┆ x        ┆ y1     ┆ 1    │
│ …           ┆ …       ┆ …        ┆ …      ┆ …    │
│ 2023_02     ┆ z2      ┆ z        ┆ y2     ┆ 2    │
│ 2023_03     ┆ z1      ┆ x        ┆ y1     ┆ 1    │
│ 2023_03     ┆ z1      ┆ y        ┆ y1     ┆ 2    │
│ 2023_03     ┆ z1      ┆ z        ┆ y1     ┆ 1    │
│ 2023_03     ┆ z2      ┆ z        ┆ y2     ┆ 100  │
└─────────────┴─────────┴──────────┴────────┴──────┘

# polars.DataFrame.merge_sorted
https://docs.pola.rs/py-polars/html/reference/dataframe/api/polars.DataFrame.merge_sorted.html